.login-container{
  background: #FFFFFF;
  height: 100% !important;
  &-wrapper{
    height: 100%;
    display: flex;
    .left{
      height: 100%;
      flex:1;
      box-sizing: border-box;
      background: #08329C;
      border-top-right-radius: 30px;
      padding: 270px 0 0 140px;
      .logo{
        img{
          width: 300px;
          height: auto;
        }
      }
      .slogan{
        margin-top: 51px;
        color: #fff;
        font-weight: 700;
        font-size: 44px;
        line-height: 70px;
      }
    }
    .right{
      height: 100%;
      flex:1;
    }
  }

}
